{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    {{- partial "_shared/title.html" . -}}
    <div class="main-content">
        <!-- Posts Index
        ================================================== -->
        <section class="recent-posts">
            
            {{ $post_paginator := .Paginate (.Site.RegularPages) .Site.Params.pagination }}  
            {{ if eq $post_paginator.PageNumber 1 }}
                <div class="first-post">
                    {{range first 1 .Site.RegularPages }}
                    {{- partial "box.html" . -}}
                    {{end}}
                </div> 
            {{ end }}
            <div class="row listrecent">
                {{ range $post_paginator.Pages }}
                    {{- partial "list-partials/postbox.html" . -}}
                {{end}}
            </div>
        </section>
        {{- partial "list-partials/pagination.html" $post_paginator -}}
    </div>
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/jumbotron.html" . -}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}
